.dynamic-sheet{
  width: 100%;
  height: 100%;
}

.dynamic-sheet form{
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
  height: 100%;
  margin: 25px auto;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 6px 5px 5px 0px #BABABA;
}

.dynamic-sheet form section{
  margin: 5px;
  display: flex;
  flex-direction: column;
}

/* name sex level, class race, align expla*/
.name-choice-container, .form-sex, .chara-level{
  width: 30%;
}

.dnd-class, .dnd-race{
  width: 48%;
}

.dnd-align{
  width: 48%;
  margin-left: auto;
}

select{
  outline: none;
  width: 80%;
  height: auto;
  font-size: 1.1rem;
  padding: 2px;
  border: 1px solid lightgrey;
  border-radius: 5px 0 0 5px;
}

select:active{
  border-radius: 5px;
  outline: none;
}

.dynamic-sheet form label{
  color: black;
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.dynamic-sheet input[type=number]{
  width: 80%;
  font-size: 1.1rem;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.dynamic-sheet input[type=radio]:hover{
  border: 1px solid pink;
  outline: green;
}


.dynamic-sheet .buttons{
  padding: 10px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.dynamic-sheet button{
  border: none;
  outline: none;
  width: 110px;
  height: 65px;
  font-size: 1.3rem;
  background-color: #F71735;
  border-radius: 6px;
  padding: 8px;
  margin: 5px;
}

