.App{
  padding: 10px;
  width: 80%;
  margin-left: 9.5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* From GeneratorUse that will style them to be the full bottom half of the screen */
.generator-use{
  display: flex;
  justify-content: center;
  width: 100%;
}
.generator-use header{
  font-size: 1.7rem;
}
.creation-use{
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 60%;
}
.creation-use section{
  width: 50%;
  padding: 1.5%;
  text-align: center;
  transition: 0.5 ease-out;
  color: white
}
.creation-use section:hover{
  transform: translate(0, -20%);
  height: 125%;
  transition: 0.5 ease-out;
}
.creation-use h2{
  font-size: 2rem;
}
.creation-use p{
  font-size: 1.4rem;
  visibility: hidden;
}
.NPC{
  background-color: #F71735;
}
.PC{
  background-color: #564D80;
}
.active p{
  visibility: visible;
}
/* .active-section p{
  visibility: visible;
} */


/* After one is selected, it will either take them to the final page (NPC) or to the generator styling (PC) */


/*
Cards from UseCard.js that will be in a carousel type thing
*/

.container{
  border: 1px solid blue;
  width:75%;
  height: auto;
  display: flex;
  margin-top: 20px;
  margin-left: 10%;
}

.card{
  border: 1px solid black;
  border-radius: 5px;
  height: 280px;
  width: 180px;
  background: #564D80;
  box-shadow: -1rem 0 3rem #29214B;
  transition: 0.5 ease-out;
  position: relative;
  left: 0px;
}

/* .container .dnd{
  transform: rotate(320deg);
}

.container .ran{
  transform: rotate(30deg)
} */

.card:hover{
  margin-left: 10px;
  transform: translateY(-35px);
  transition: 0.5 ease-out;
}

.generator-form form{
  display: flex;
  border: 1px solid red;
  flex-direction: column;
  width: 50%;
  margin-left: 15%;
}

.generator-form form button{
  width: 70px;
  height: 35px;
  text-decoration: none;
  background-color: #564D80;
  color: white;
  border: 1px solid #44344F;
  border-radius: 4px;
  margin: 5px;
}

.generator-form form label{
  font-size: 1.3rem;
  margin: 5px;
}

/* .links{
  text-decoration: none;
} */


/* Styling Welcome Page */
.landing-page{
  width: 80%;
  margin-left: 9%;
}

.landing-page header h1{
  font-size: 2.3rem;
}

.landing-page section p{
  font-size: 1.3rem;
}

.landing-page section p a{
  color: blueviolet;
}

.landing-page button{
  text-decoration: none;
  width: 110px;
  height: 65px;
  background-color: #F71735;
  color: white;
  border-radius: 6px;
  font-size: 1.3rem;
  padding: 8px;
}
.landing-page button:hover{
  background-color: #42050d;
}
.landing-page a{
  text-decoration: none;
  color: white;
}

/* Styling for PotentialCharaSheet */
.generator-buttons button{
  width: 300px;
  height: 100px;
  background-color: #D3FCD5;
}

.selection-sheet Link, button{
  width: 70px;
  height: 35px;
  text-decoration: none;
  background-color: #564D80;
  color: white;
  border-radius: 4px;
  margin: 5px;
}

form label{
  color: green;
  font-size: 15px;
  border-radius: 5px;
  width: 25%;
}

.generator-form form section{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.generator-form section label{
  width: 30%;
  border-radius: 0px;
}

.generator-form form{
  display: flex;
  justify-content: center;
  border: none;
  width: 50%;
  margin-left: 24%;
}

form select{
  width: 45%;
  font-size: 1rem;
}

.chara-level{
  width: 45%;
  font-size: 1rem;
}

.align-sum{
  display: none;
}

/* Styling for AbilityScores.js */

.ability-score{
  border: 1px solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.random-dice{
  width: 100px;
  height: 100px;
  background-color: slategray;
  border: 1px solid black;
}

.bttn{
  width: 30px;
  height: 30px;
  background-color: #f5f3e4;
  border-radius: 4px;
}

.arrw{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: .25rem;
}

.down{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up{
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}