.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*
Cards from UseCard.js that will be in a carousel type thing
*/

.container{
  border: 1px solid blue;
  width:75%;
  height: auto;
  display: flex;
  margin-top: 20px;
  margin-left: 10%;
}

.card{
  border: 1px solid black;
  border-radius: 5px;
  height: 280px;
  width: 180px;
  background: #564D80;
  box-shadow: -1rem 0 3rem #29214B;
  transition: 0.5 ease-out;
  position: relative;
  left: 0px;
}

/* .container .dnd{
  transform: rotate(320deg);
}

.container .ran{
  transform: rotate(30deg)
} */

.card:hover{
  margin-left: 10px;
  transform: translateY(-35px);
  transition: 0.5 ease-out;
}

.generator-form form{
  display: flex;
  border: 1px solid red;
  flex-direction: column;
  width: 50%;
  margin-left: 15%;
}

.generator-form form button{
  width: 70px;
  height: 35px;
  text-decoration: none;
  background-color: #564D80;
  color: white;
  border: 1px solid #44344F;
  border-radius: 4px;
  margin: 5px;
}

.generator-form form label{
  font-size: 1.3rem;
  border: 1px solid black;
  margin: 5px;
}
